*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
 main h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}
body h1{
    text-align: center;
    margin-top: 100px;
    font-weight: bolder;
}
body{
    background-color:rgb(231,193,149);
}
main{
    margin: auto;
    margin-top: 100px;
    width: 50%;
    background-color: white;
    height: 15rem;
    border-radius: 10px;
}
#text-input{
    width: 50%;
    box-sizing: border-box;
    height: 10px;
    border-radius: 4px solid black;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 8em;

}
#check-btn{
    display: block;
    width: 1%;
    margin: 1em auto;
    height: 2em; 
    font-size: 1.1em;
    background-color: #5252ec;
    border-color: white;
    min-width: 300px;
}
#results{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 5em;
    font-weight: bolder;
    font-size: medium;

}