h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}
body{
    background-color: navy;
}
#text-input{
    width: 50%;
    padding: 12px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid wheat;
    height: 10rem;

}