*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
 main h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}
body{
    background-color: navy;
}
main{
    margin: auto;
    margin-top: 200px;
    width: 50%;
    background-color: brown;
    height: 10rem;
}
#text-input{
    width: 50%;
    box-sizing: border-box;
    height: 10px;
    border-radius: 4px solid black;
    padding: 12px 20px;
    margin: 8px 0;

}